.container {
  background-image: url('./Minimalist-Wallpaper-HD.jpg');
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  background-image: url('./pexels-daniel-pixelflow-376723.jpg');
  opacity: 0.7;
  min-width: 150vh;
  min-height: 80vh;
  box-shadow: 2px 2px 3px 2px ;
  /* padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.form{
  width : 500px;
  margin: 260px;
}
.input{
  margin-bottom: 20px;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
